<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid" style="max-height: 300px">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="btn-group">

      <button (click)="toggleDropdown()" class="btn btn-primary dropdown-toggle" type="button" id="dropdownControls" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </button>
<!--      <ul [appDropdown]="isDropdownOpen" class="dropdown-menu" aria-labelledby="dropdownControls">-->
      <ul class="dropdown-menu" aria-labelledby="dropdownControls">
        <li><a (click)="addIngridientsToShoppingList()" class="dropdown-item">To Shopping List</a></li>
        <li><a [routerLink]="['edit']" class="dropdown-item">Edit Recipe</a></li>
        <li><a (click)="deleteRecipe()" [routerLink]="['../']" class="dropdown-item">Delete Recipe</a></li>
      </ul>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    Description: {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li *ngFor="let ingridient of recipe.ingridients" class="list-group-item">{{ ingridient.name }} ({{ ingridient.amount }})</li>
    </ul>
  </div>
</div>
